<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analysis.admin.Mapper.BranchDirInfoMapper">
    <resultMap id="branchDirInfo" type="com.analysis.admin.Pojo.Entities.BranchDirInfo">
        <id column="project_id" property="projectId" jdbcType="INTEGER" />
        <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="last_sync_time" property="lastSyncTime" jdbcType="TIMESTAMP" />
        <result column="running_task_id" property="runningTaskId" jdbcType="INTEGER" />
    </resultMap>

    <select id="getBranchDirInfo" resultMap="branchDirInfo">
        select
            project_id, branch_name, path, create_time, update_time, last_sync_time, running_task_id
        from
            branch_dir_info
        where
            project_id = #{projectId}
            and branch_name = #{branchName};
    </select>

    <insert id="insertBranchDirInfo" parameterType="com.analysis.admin.Pojo.Entities.BranchDirInfo">
        insert into branch_dir_info (project_id, branch_name)
        select
            #{branchDirInfo.projectId}, #{branchDirInfo.branchName}
        from DUAL where not exists(
            select project_id, branch_name from branch_dir_info where project_id = #{branchDirInfo.projectId} and branch_name = #{branchDirInfo.branchName}
        );
        update branch_dir_info set last_sync_time = #{branchDirInfo.lastSyncTime}, path = #{branchDirInfo.path}, running_task_id = #{branchDirInfo.runningTaskId}
        where project_id = #{branchDirInfo.projectId} and branch_name = #{branchDirInfo.branchName}
    </insert>
</mapper>
